@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

.wrap {
	width: 500px;
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
}

.header {
	font-size: 1.2rem;
}

.search {
	list-style: none;
	width: 100%;
	position: relative;
	margin-bottom: 19rem;
}

.search.open .search__dropdown {
	display: block;
}

.search.open #search__input {
	border-bottom: none;
}

#search__input {
	width: 93.5%;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 46px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	cursor: pointer;
	font-size: 1.1rem;
}

.search__dropdown {
	display: none;
	width: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	left: 0;
	right: 0;
	font-size: 0.9rem;
}

.search__item {
	padding: 1rem;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	/* background-color: white; */
}

.search__item:last-child {
	border-bottom: none;
}

.search__item:hover {
	background-color: #eee;
	cursor: pointer;
	transition: 0.15s background-color ease-in;
}

.search__item.selected {
	background: #65cdf9;
}

.search__message {
	font-size: 14px;
	margin: 6px;
}

.repository {
	padding: 1rem;
	border-bottom: 1px solid #727171;
	position: relative;
}

.repository:last-child {
	border-bottom: none;
}

.repository-list {
	display: none;
	width: 100%;
	list-style: none;
	border: 1px solid #727171;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

.repository-list.open {
	display: block;
}

.repository__cross {
	position: absolute;
	left: 430px;
	top: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

.repository__cross:before {
	content: url("../icons/cross.png");
}
